<!DOCTYPE html>
<html>
<head>
  <title>Yearbooker</title>
  <link rel="stylesheet" href="../../assets/stylesheets/normalize.css" type="text/css" />
  <link rel="stylesheet" href="../../assets/stylesheets/cohort_page.css" type="text/css" />
</head>
<body>

  <div class="page-wrapper">
    <header>
      <nav>
        <ul>
          <li>the program</li>
          <li>the students</li>
          <li>interested?</li>
        </ul>
      </nav>
    </header>

    <section class="cohort-photo">
      <div class="info-banner">
        <h2>General Assembly</h2>
        <ul>
          <li>January</li>
          <li>2014</li>
          <li>New York</li>
        </ul>
        <h2>Web Development Immersive</h2>
      </div>
    </section>

    <section class="description"></section>

    <section class="students"></section>

    <section class="thanks"></section>

    <footer></footer>
  </div>

</body>
</html>

