<ul id='campuses'>
<% @campuses.each do |campus| %>
  <li><%= campus.location %>

    <ul class='cohort'>
      <% campus.cohorts.each do |cohort| %>
        <li>
          <%= cohort.month %>, <%= cohort.year %>    
        </li>
      <% end %>
    </ul>
  </li>  
<% end %>
</ul>